{% extends "base.html" %} {% block content %}

{% load static %}

<section class = "content">
    <
            <img class="menu_icon" src="{% static 'img/menu.png' %}" />
            <div class="logo">
                <img src ="{% static 'img/profile-user.png' %}" />
            </div>
            <div class ="name_body">
                <div class="name">{{ post.name }}</div>
                <div class="datetime"> {{ post.created_at}}</div>
                <p> {{ post.body}} </p>
                <a href="/delete/{{ post.id }}/">delete</a>
            </div>
    </li>
        {% endfor %}
        </ul>
    </section>

</section>


{% endblock %}
